*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Press Start 2P';
  position: relative;
}

main{
  position: relative;
  z-index: 1;
  display: flex;
  height: 100vh;
}
.bg-video-container{
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;

}
#bg-video{
  width: 100vw;
  height: 100vh;
}
.bg-video-wrapper::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg,
   rgba(0,0,0,1) 0%, 
   rgba(0,0,0,0.8) 50%, 
   rgba(0,0,0,0.9) 100%);
}

/* ! container left */

.container-left{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.score-box{
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.frame{
  border: 3px solid #000;
  border-radius: 5px;
}

.card-details {
  background-color: #fff;
  padding: 1erm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 6rem;
  width: 100%;
}

#card-name{
  font-size: 0.8rem;
}
#card-type{
  font-size: 1rem;
}


/* ! container right */
.container-right{
  width: 65%;
}

.card-box-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem;
}

.card-box{
  height: 9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-versus{
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
  height: 300px;

  justify-content: center;
}

.card-infield{
  width: 8rem;
  height: 11.2rem;
  border-radius: 8px;
  border: 4px solid #fff;
}

.card-infield img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}



.versus-img{
  height: 100px;
}

.versus-top,.versus-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.versus-bottom{
  margin-top: 1rem;
}





/* #player-field-card{
  width: 125px;
  height: 180px;
} */

#next-duel{
  display: none;
}

#next-duel.active{
  display: block;
}

.card{
  transition: all .2s;
}
.card:hover{
  transform: scale(1.2);
}